node_modules/

.env
.env.*

frontend/build/
frontend/dist/

backend/uploads/
uploads/

logs/
*.log

tmp/
temp/

.DS_Store
Thumbs.db

.vscode/
.idea/

dist/
build/

frontend/src/pages/tempCodeRunnerFile.js